In [44]:
# Dependencies and Setup
import json
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np
import time
import csv
import re
import os
import configparser
import requests

# Import API key
from config import weather_key

In [45]:
# Import city list
top50city_df = pd.read_csv("./output_data/top50city.csv")

In [46]:
# run first list of 20 city codes
#url="https://api.openweathermap.org/data/2.5/group?id= 5128581,5295985,4887398,5391959,4671654,4460243,4699066,4704482,4726311,5131095,5186794,4726206,5392171,5308655,5099836,5317058,5809844,4509177,4700168,4719457&appid=" + weather_key + "&units=metric"
url="https://api.openweathermap.org/data/2.5/group?id= 5128581,4700168,4719457&appid=" + weather_key + "&units=metric"

In [47]:
# Using this method to load
response = requests.get(url)
response.json()

{'cnt': 2,
 'list': [{'coord': {'lon': -96.95, 'lat': 32.81},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060091,
    'sunset': 1597108684},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.54,
    'feels_like': 33.59,
    'temp_min': 34,
    'temp_max': 35,
    'pressure': 1012,
    'humidity': 41},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 170},
   'clouds': {'all': 1},
   'dt': 1597108501,
   'id': 4700168,
   'name': 'Irving'},
  {'coord': {'lon': -96.7, 'lat': 33.02},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060011,
    'sunset': 1597108645},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.3,
    'feels_like': 32.01,
    'temp_min': 33.33,
    'temp_max': 35,
    'pressure': 1013,
    'humidity': 34},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 180},
   'clouds': {'all': 5},
   'dt': 1597108501,
   'id': 4719457,
   'name': 'Plano'}]}

In [48]:
#
response.json().keys()

#JSON response
response.json()['list']

[{'coord': {'lon': -96.95, 'lat': 32.81},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060091,
   'sunset': 1597108684},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 34.54,
   'feels_like': 33.59,
   'temp_min': 34,
   'temp_max': 35,
   'pressure': 1012,
   'humidity': 41},
  'visibility': 10000,
  'wind': {'speed': 6.2, 'deg': 170},
  'clouds': {'all': 1},
  'dt': 1597108501,
  'id': 4700168,
  'name': 'Irving'},
 {'coord': {'lon': -96.7, 'lat': 33.02},
  'sys': {'country': 'US',
   'timezone': -18000,
   'sunrise': 1597060011,
   'sunset': 1597108645},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'main': {'temp': 34.3,
   'feels_like': 32.01,
   'temp_min': 33.33,
   'temp_max': 35,
   'pressure': 1013,
   'humidity': 34},
  'visibility': 10000,
  'wind': {'speed': 6.2, 'deg': 180},
  'clouds': {'all': 5},
  'dt': 1597108501,
  'id': 4719457,
  'name': 'Plano'}]

In [49]:
#
weather = response.json()['list']
df1 = json_normalize(weather)

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
# run second list of city codes
#url="https://api.openweathermap.org/data/2.5/group?id=5780993,5393015,5345860,4160021,4776222,5392423,5331835,4259418,4691930,5400075,5375480,5313457,5380748,5110302,5341145,4762894,5367929,5386834,5372223,5378538&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"
url="https://api.openweathermap.org/data/2.5/group?id=5780993,5393015,5386834,5372223,5378538&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [51]:
response = requests.get(url)
response.json()

{'cnt': 5,
 'list': [{'coord': {'lon': -111.89, 'lat': 40.76},
   'sys': {'country': 'US',
    'timezone': -21600,
    'sunrise': 1597062810,
    'sunset': 1597113136},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'main': {'temp': 32.5,
    'feels_like': 28.07,
    'temp_min': 31.11,
    'temp_max': 34,
    'pressure': 1014,
    'humidity': 13},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 360},
   'clouds': {'all': 40},
   'dt': 1597108540,
   'id': 5780993,
   'name': 'Salt Lake City'},
  {'coord': {'lon': -121.96, 'lat': 37.35},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065625,
    'sunset': 1597115154},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 26.93,
    'feels_like': 23.73,
    'temp_min': 24.44,
    'temp_max': 28.89,
    'pressure': 1011,
    'humidity': 44},
   'visibility': 10000,
   'wind': {'speed': 6.2, 'deg': 320},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5393015,
   'name': 'Santa Clara'},
  {'coord': {'lon': -122.24, 'lat': 37.49},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065677,
    'sunset': 1597115237},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23,
    'feels_like': 19.18,
    'temp_min': 21,
    'temp_max': 24.44,
    'pressure': 1012,
    'humidity': 64},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597108533,
   'id': 5386834,
   'name': 'Redwood City'},
  {'coord': {'lon': -122.18, 'lat': 37.45},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065667,
    'sunset': 1597115218},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23.34,
    'feels_like': 19.64,
    'temp_min': 22.22,
    'temp_max': 24.44,
    'pressure': 1012,
    'humidity': 64},
   'visibility': 10000,
   'wind': {'speed': 8.2, 'deg': 350},
   'clouds': {'all': 5},
   'dt': 1597108533,
   'id': 5372223,
   'name': 'Menlo Park'},
  {'coord': {'lon': -122.27, 'lat': 37.8},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065650,
    'sunset': 1597115278},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'main': {'temp': 17.88,
    'feels_like': 12.65,
    'temp_min': 15,
    'temp_max': 21.11,
    'pressure': 1013,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 8.7, 'deg': 310},
   'clouds': {'all': 20},
   'dt': 1597108533,
   'id': 5378538,
   'name': 'Oakland'}]}

In [52]:
weather = response.json()['list']
df2= json_normalize(weather)

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [53]:
# run third list of 10 city codes
#url="https://api.openweathermap.org/data/2.5/group?id=5368361,4684888,5808079,4499379,4722625,5416541,4890119,5350159,5123853,5393212,4671240&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"
url="https://api.openweathermap.org/data/2.5/group?id=5368361,4684888,5393212,4671240&appid=3a9fa2731241e7ab03bbf05564b12ba4&units=metric"

In [54]:
response = requests.get(url)
response.json()

{'cnt': 4,
 'list': [{'coord': {'lon': -118.24, 'lat': 34.05},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065080,
    'sunset': 1597113914},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 23.86,
    'feels_like': 23.49,
    'temp_min': 19,
    'temp_max': 28.33,
    'pressure': 1012,
    'humidity': 56},
   'visibility': 10000,
   'wind': {'speed': 2.6, 'deg': 0},
   'clouds': {'all': 1},
   'dt': 1597108533,
   'id': 5368361,
   'name': 'Los Angeles'},
  {'coord': {'lon': -96.81, 'lat': 32.78},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060061,
    'sunset': 1597108648},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.15,
    'feels_like': 34.33,
    'temp_min': 33.33,
    'temp_max': 34.44,
    'pressure': 1012,
    'humidity': 38},
   'visibility': 10000,
   'wind': {'speed': 3.6, 'deg': 170},
   'clouds': {'all': 0},
   'dt': 1597108501,
   'id': 4684888,
   'name': 'Dallas'},
  {'coord': {'lon': -118.49, 'lat': 34.02},
   'sys': {'country': 'US',
    'timezone': -25200,
    'sunrise': 1597065143,
    'sunset': 1597113971},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 21.87,
    'feels_like': 20.87,
    'temp_min': 19,
    'temp_max': 25.56,
    'pressure': 1013,
    'humidity': 72},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 250},
   'clouds': {'all': 1},
   'dt': 1597108533,
   'id': 5393212,
   'name': 'Santa Monica'},
  {'coord': {'lon': -97.11, 'lat': 32.74},
   'sys': {'country': 'US',
    'timezone': -18000,
    'sunrise': 1597060137,
    'sunset': 1597108716},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'main': {'temp': 34.62,
    'feels_like': 32.83,
    'temp_min': 33.89,
    'temp_max': 36,
    'pressure': 1013,
    'humidity': 30},
   'visibility': 10000,
   'wind': {'speed': 4.6, 'deg': 180},
   'clouds': {'all': 5},
   'dt': 1597108500,
   'id': 4671240,
   'name': 'Arlington'}]}

In [55]:
weather = response.json()['list']
df3 = json_normalize(weather)

C:\Users\Matt\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [56]:
# Concatenate DataFrames
df4 = [df1, df2, df3]
result = pd.concat(df4)

In [57]:
# clean up dataframe
# drop columns
#result = result.drop(['weather', 'visibility', 'dt', 'id', 'coord.lon', 'coord.lat', 'sys.country', 'sys.timezone', 'sys.sunrise', 'sys.sunset'], axis=1)

# reset index
result.reset_index(drop=True, inplace=True)

result

,weather,visibility,dt,id,name,coord.lon,coord.lat,sys.country,sys.timezone,sys.sunrise,sys.sunset,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4700168,Irving,-96.95,32.81,US,-18000,1597060091,1597108684,34.54,33.59,34.00,35.00,1012,41,6.2,170,1
1,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4719457,Plano,-96.70,33.02,US,-18000,1597060011,1597108645,34.30,32.01,33.33,35.00,1013,34,6.2,180,5
2,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,1597108540,5780993,Salt Lake City,-111.89,40.76,US,-21600,1597062810,1597113136,32.50,28.07,31.11,34.00,1014,13,3.6,360,40
3,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5393015,Santa Clara,-121.96,37.35,US,-25200,1597065625,1597115154,26.93,23.73,24.44,28.89,1011,44,6.2,320,20
4,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5386834,Redwood City,-122.24,37.49,US,-25200,1597065677,1597115237,23.00,19.18,21.00,24.44,1012,64,8.2,350,5
5,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5372223,Menlo Park,-122.18,37.45,US,-25200,1597065667,1597115218,23.34,19.64,22.22,24.44,1012,64,8.2,350,5
6,"[{'id': 801, 'main': 'Clouds', 'description': ...",10000,1597108533,5378538,Oakland,-122.27,37.80,US,-25200,1597065650,1597115278,17.88,12.65,15.00,21.11,1013,72,8.7,310,20
7,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5368361,Los Angeles,-118.24,34.05,US,-25200,1597065080,1597113914,23.86,23.49,19.00,28.33,1012,56,2.6,0,1
8,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108501,4684888,Dallas,-96.81,32.78,US,-18000,1597060061,1597108648,34.15,34.33,33.33,34.44,1012,38,3.6,170,0
9,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108533,5393212,Santa Monica,-118.49,34.02,US,-25200,1597065143,1597113971,21.87,20.87,19.00,25.56,1013,72,4.6,250,1
10,"[{'id': 800, 'main': 'Clear', 'description': '...",10000,1597108500,4671240,Arlington,-97.11,32.74,US,-18000,1597060137,1597108716,34.62,32.83,33.89,36.00,1013,30,4.6,180,5

In [28]:
top50city_df

    Unnamed: 0            Location            City
0            0        New York, NY        New York
1            1         Chicago, IL         Chicago
2            2   San Francisco, CA   San Francisco
3            3          Austin, TX          Austin
4            4     Los Angeles, CA     Los Angeles
5            5       Charlotte, NC       Charlotte
6            6         Houston, TX         Houston
7            7          Dallas, TX          Dallas
8            8       San Diego, CA       San Diego
9            9    Philadelphia, PA    Philadelphia
10          10          Denver, CO          Denver
11          11     San Antonio, TX     San Antonio
12          12        San Jose, CA        San Jose
13          13         Phoenix, AZ         Phoenix
14          14     Jersey City, NJ     Jersey City
15          15           Tempe, AZ           Tempe
16          16         Seattle, WA         Seattle
17          17        Columbus, OH        Columbus
18          18          Irving, TX          Irving
19          19           Plano, TX           Plano
20          20  Salt Lake City, UT  Salt Lake City
21          21     Santa Clara, CA     Santa Clara
22          22      El Segundo, CA      El Segundo
23          23    Jacksonville, FL    Jacksonville
24          24         Norfolk, VA         Norfolk
25          25       San Mateo, CA       San Mateo
26          26         Burbank, CA         Burbank
27          27    Indianapolis, IN    Indianapolis
28          28      Fort Worth, TX      Fort Worth
29          29       Sunnyvale, CA       Sunnyvale
30          30   Mountain View, CA   Mountain View
31          31      Scottsdale, AZ      Scottsdale
32          32       Palo Alto, CA       Palo Alto
33          33        Brooklyn, NY        Brooklyn
34          34       Cupertino, CA       Cupertino
35          35         Hampton, VA         Hampton
36          36      Long Beach, CA      Long Beach
37          37    Redwood City, CA    Redwood City
38          38      Menlo Park, CA      Menlo Park
39          39         Oakland, CA         Oakland
40          40         Redmond, WA         Redmond
41          41      Wilmington, DE      Wilmington
42          42      Richardson, TX      Richardson
43          43      Centennial, CO      Centennial
44          44   Downers Grove, IL   Downers Grove
45          45     Foster City, CA     Foster City
46          46    Lake Success, NY    Lake Success
47          47    Santa Monica, CA    Santa Monica
48          48       Arlington, TX       Arlington
49          49        Glendale, CA        Glendale

In [30]:
# join dataframes to add location
final_table = result.merge(top50city_df,how='right', left_on='name', right_on='City')

gd_t50_df = gd_df.merge(t50_df,how='right', left_on='Location', right_on='Location')

final_table

In [26]:
# export to csv 

outname = 'weatherfinal.csv'

outdir = './output_data'
if not os.path.exists(outdir):
    os.mkdir(outdir)

fullname = os.path.join(outdir, outname)    

result.to_csv(fullname)