In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from time import sleep 
import pandas as pd

In [2]:
top50city_df = pd.read_csv("top50city.csv")
top50city_df

              Location  gaJobs            City State
0         New York, NY     310        New York    NY
1          Chicago, IL     130         Chicago    IL
2    San Francisco, CA     119   San Francisco    CA
3           Austin, TX      81          Austin    TX
4      Los Angeles, CA      80     Los Angeles    CA
5        Charlotte, NC      78       Charlotte    NC
6          Houston, TX      72         Houston    TX
7           Dallas, TX      66          Dallas    TX
8        San Diego, CA      62       San Diego    CA
9     Philadelphia, PA      56    Philadelphia    PA
10          Denver, CO      47          Denver    CO
11     San Antonio, TX      45     San Antonio    TX
12        San Jose, CA      38        San Jose    CA
13         Phoenix, AZ      35         Phoenix    AZ
14     Jersey City, NJ      33     Jersey City    NJ
15           Tempe, AZ      31           Tempe    AZ
16         Seattle, WA      30         Seattle    WA
17        Columbus, OH      29        Columbus    OH
18          Irving, TX      29          Irving    TX
19           Plano, TX      28           Plano    TX
20  Salt Lake City, UT      22  Salt Lake City    UT
21     Santa Clara, CA      22     Santa Clara    CA
22      El Segundo, CA      19      El Segundo    CA
23    Jacksonville, FL      19    Jacksonville    FL
24         Norfolk, VA      18         Norfolk    VA
25       San Mateo, CA      18       San Mateo    CA
26         Burbank, CA      17         Burbank    CA
27    Indianapolis, IN      17    Indianapolis    IN
28      Fort Worth, TX      16      Fort Worth    TX
29       Sunnyvale, CA      16       Sunnyvale    CA
30   Mountain View, CA      15   Mountain View    CA
31      Scottsdale, AZ      15      Scottsdale    AZ
32       Palo Alto, CA      14       Palo Alto    CA
33        Brooklyn, NY      13        Brooklyn    NY
34       Cupertino, CA      13       Cupertino    CA
35         Hampton, VA      13         Hampton    VA
36      Long Beach, CA      13      Long Beach    CA
37    Redwood City, CA      12    Redwood City    CA
38      Menlo Park, CA      11      Menlo Park    CA
39         Oakland, CA      11         Oakland    CA
40         Redmond, WA      11         Redmond    WA
41      Wilmington, DE      11      Wilmington    DE
42      Richardson, TX      10      Richardson    TX
43      Centennial, CO       9      Centennial    CO
44   Downers Grove, IL       9   Downers Grove    IL
45     Foster City, CA       9     Foster City    CA
46    Lake Success, NY       9    Lake Success    NY
47    Santa Monica, CA       9    Santa Monica    CA
48       Arlington, TX       8       Arlington    TX
49        Glendale, CA       8        Glendale    CA

In [3]:
#Splitting dataframe into 3 parts so we do not get banned from scraping from zillow
top17 = top50city_df.iloc[0:18]
top34 = top50city_df.iloc[18:35]
top50 = top50city_df.iloc[35:50]

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
city = top50city_df.City
state = top50city_df.State

In [10]:
base_url = "https://www.zillow.com/homes/"
#https://www.zillow.com/homes/San-Francisco,-CA_rb/
query_url = f"{base_url}{city},-{state}_rb/"
query_url

#browser.visit(url)

'https://www.zillow.com/homes/0           New York\n1            Chicago\n2      San Francisco\n3             Austin\n4        Los Angeles\n5          Charlotte\n6            Houston\n7             Dallas\n8          San Diego\n9       Philadelphia\n10            Denver\n11       San Antonio\n12          San Jose\n13           Phoenix\n14       Jersey City\n15             Tempe\n16           Seattle\n17          Columbus\n18            Irving\n19             Plano\n20    Salt Lake City\n21       Santa Clara\n22        El Segundo\n23      Jacksonville\n24           Norfolk\n25         San Mateo\n26           Burbank\n27      Indianapolis\n28        Fort Worth\n29         Sunnyvale\n30     Mountain View\n31        Scottsdale\n32         Palo Alto\n33          Brooklyn\n34         Cupertino\n35           Hampton\n36        Long Beach\n37      Redwood City\n38        Menlo Park\n39           Oakland\n40           Redmond\n41        Wilmington\n42        Richardson\n43        Centennial\n44     Downers Grove\n45       Foster City\n46      Lake Success\n47      Santa Monica\n48         Arlington\n49          Glendale\nName: City, dtype: object,-0      NY\n1      IL\n2      CA\n3      TX\n4      CA\n5      NC\n6      TX\n7      TX\n8      CA\n9      PA\n10     CO\n11     TX\n12     CA\n13     AZ\n14     NJ\n15     AZ\n16     WA\n17     OH\n18     TX\n19     TX\n20     UT\n21     CA\n22     CA\n23     FL\n24     VA\n25     CA\n26     CA\n27     IN\n28     TX\n29     CA\n30     CA\n31     AZ\n32     CA\n33     NY\n34     CA\n35     VA\n36     CA\n37     CA\n38     CA\n39     CA\n40     WA\n41     DE\n42     TX\n43     CO\n44     IL\n45     CA\n46     NY\n47     CA\n48     TX\n49     CA\nName: State, dtype: object_rb/'

In [6]:
item_df = pd.DataFrame(columns = ["address", "price", 'info', 'city', 'state'])
print(item_df)

Empty DataFrame
Columns: [address, price, info, city, state]
Index: []

In [5]:
# for x in range(1, 20):
#     sleep(2)

#     html = browser.html
#     soup = BeautifulSoup(html, 'html.parser')

#     quotes = soup.find_all('address', class_='list-card-addr')

#     for quote in quotes:
#         print('page:', x, '-------------')
#         print(quote.text)

#     browser.click_link_by_partial_text('Chevron Right')

In [6]:
# class ZrentItem(object):
#     def __init__(address, price, info, state):
#         self.address = address
#         self.price = price
#         self.info = info
#         self.state = state

In [8]:
#for iterrows - t50_df 
    #create url like  https://www.zillow.com/homes/San-Francisco,-CA_rb/  use city and state column
    #go to browser url
    #indent below
    #update city and state below
    #may have to split up list and add note in code
    #may do incognito

for index, row in top17.iterrows():

for x in range(1, 2):
    sleep(2)

    html = browser.html
    print("%"*29)
    print(type(html))
    soup = BeautifulSoup(html, 'html.parser')

    cardlist = soup.find_all('article', class_='list-card_not-saved')
    print("@"*17)
    print(type(cardlist))
    print(len(cardlist))

    for card in cardlist:
        address = card.find('address', class_='list-card-addr').text
        print("*************7the address is")
        print(address)
        info = card.find('ul', class_='list-card-details').text
        print("*************8the info is")
        print(info)
        try:
            price = card.find('div', class_='list-card-price').text
            
        except:
            print("no price")
            price = ""
        else:
            print("$+" +price)
        
        item_df = item_df.append(pd.DataFrame({'address': [address], 'price': [price], 'info': [info], 'city': [city], 'state': [state]}))
    sleep(5)
    browser.click_link_by_partial_text('Chevron Right')

#     for quote in quotes:
#         address = 
#         print('page:', x, '-------------')
#         print(quote.text)

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
<class 'str'>
@@@@@@@@@@@@@@@@@
<class 'bs4.element.ResultSet'>
40
*************7the address is
400 Beale St, San Francisco, CA
*************8the info is
$2,950 1 bd$3,695 2 bds
no price
*************7the address is
855 Folsom St, San Francisco, CA
*************8the info is
$3,395+ 1 bd$4,000+ 2 bds
no price
*************7the address is
1543 Mcallister St #3, San Francisco, CA 94115
*************8the info is
1 bd1 ba1,016 sqft
$+$3,500/mo
*************7the address is
2119 29th Ave, San Francisco, CA 94116
*************8the info is
3 bds1.5 ba1,300 sqft
$+$3,900/mo
*************7the address is
Byxbee St, San Francisco, CA 94132
*************8the info is
1 bd1 ba850 sqft
$+$2,450/mo
*************7the address is
Dolores St, San Francisco, CA 94110
*************8the info is
3 bds2 ba1,800 sqft
$+$7,750/mo
*************7the address is
2390 14th Ave, San Francisco, CA
*************8the info is
$1,775 Studio$2,750 1 bd
no price
*************7the address is
3475 17th St #B, San Francisco, CA 94110
*************8the info is
1 bd1 ba-- sqft
$+$2,995/mo
*************7the address is
457 Ellis St, San Francisco, CA 94102
*************8the info is
1 bd1 ba500 sqft
$+$2,500/mo
*************7the address is
229 Brannan St, San Francisco, CA
*************8the info is
$4,500+ 2 bds
no price
*************7the address is
308 Capitol Ave, San Francisco, CA 94112
*************8the info is
2 bds1 ba1,100 sqft
$+$3,000/mo
*************7the address is
Landing Furnished Apartments in SF: Monthly Leases, $0 Deposit | 1320 4th St, San Francisco, CA
*************8the info is
$2,910+ Studio$2,999+ 1 bd$3,839+ 2 bds$5,922 3 bds
no price
*************7the address is
The Wilson | 973 Market St, San Francisco, CA
*************8the info is
$2,349+ Studio$2,849+ 1 bd$3,900 2 bds
no price
*************7the address is
The Rise Hayes Valley | 1699 Market St, San Francisco, CA
*************8the info is
$2,665+ Studio$3,195+ 1 bd$3,915+ 2 bds
no price
*************7the address is
Arc Light | 21 Clarence Pl, San Francisco, CA
*************8the info is
$3,133+ 1 bd$3,695+ 2 bds
no price
*************7the address is
49 Zoe St APT 14, San Francisco, CA 94107
*************8the info is
1 bd1.5 ba987 sqft
$+$3,500/mo
*************7the address is
eaves Diamond Heights | 5285 Diamond Heights Blvd, San Francisco, CA
*************8the info is
$2,552+ 1 bd$3,794+ 2 bds$4,998+ 3 bds
no price
*************7the address is
Alchemy | 200 Buchanan St, San Francisco, CA
*************8the info is
$2,775+ Studio$3,165+ 1 bd$4,855+ 2 bds$7,185 3 bds
no price
*************7the address is
Olume | 1401 Mission St, San Francisco, CA
*************8the info is
$2,209+ Studio$2,753+ 1 bd$3,509+ 2 bds
no price
*************7the address is
1190 Mission at Trinity Place | 1190 Mission St, San Francisco, CA
*************8the info is
$2,099+ Studio$2,299+ 1 bd$2,599+ 2 bds
no price
*************7the address is
The Madelon | 2823 18th St, San Francisco, CA
*************8the info is
$2,946+ Studio$2,986+ 1 bd$3,996+ 2 bds
no price
*************7the address is
The Martin | 2051 3rd St, San Francisco, CA
*************8the info is
$2,499+ Studio$3,499+ 1 bd$4,679+ 2 bds
no price
*************7the address is
399 Fremont | 399 Fremont St, San Francisco, CA
*************8the info is
$2,325+ Studio$3,326+ 1 bd$3,896+ 2 bds$13,483 3 bds
no price
*************7the address is
Landing: Designer Furnished, Monthly Leases, Prime Locations in San Francisco | 535 Mission St, San Francisco, CA
*************8the info is
$2,910+ Studio$2,999+ 1 bd$3,839+ 2 bds$5,922 3 bds
no price
*************7the address is
The Gantry | 2121 3rd St, San Francisco, CA
*************8the info is
$2,763+ Studio$2,966+ 1 bd$3,695+ 2 bds$5,351+ 3 bds
no price
*************7the address is
AVA 55 Ninth | 55 9th St, San Francisco, CA
*************8the info is
$2,375+ Studio$2,841+ 1 bd$3,255+ 2 bds
no price
*************7the address is
435 Tehama St APT 2, San Francisco, CA 94103
*************8the info is
2 bds1 ba700 sqft
$+$2,895/mo
*************7the address is
650 Chestnut St APT 109, San Francisco, CA 94133
*************8the info is
2 bds2 ba1,027 sqft
$+$4,200/mo
*************7the address is
1788 Clay St APT 404, San Francisco, CA 94109
*************8the info is
2 bds2 ba915 sqft
$+$5,000/mo
*************7the address is
Avalon Dogpatch | 800 Indiana St, San Francisco, CA
*************8the info is
$2,270+ Studio$2,790+ 1 bd$3,420+ 2 bds$5,975+ 3 bds
no price
*************7the address is
Azure | 690 Long Bridge St, San Francisco, CA
*************8the info is
$2,893+ 1 bd$3,726+ 2 bds
no price
*************7the address is
Towers at Rincon | 88 Howard St, San Francisco, CA
*************8the info is
$2,540+ Studio$2,650+ 1 bd$3,690+ 2 bds
no price
*************7the address is
758A 7th Ave #A, San Francisco, CA 94118
*************8the info is
1 bd1 ba930 sqft
$+$3,830/mo
*************7the address is
77 Bluxome | 77 Bluxome St, San Francisco, CA
*************8the info is
$1,759+ Studio
no price
*************7the address is
Etta, H, San Francisco, CA 94109
*************8the info is
1 bd1 ba598 sqft
$+$2,752/mo
*************7the address is
Etta, F, San Francisco, CA 94109
*************8the info is
1 bd1 ba706 sqft
$+$2,960/mo
*************7the address is
Etta | 1285 Sutter St, San Francisco, CA
*************8the info is
$2,657 Studio$2,908+ 1 bd$3,655+ 2 bds$5,161 3 bds
no price
*************7the address is
Avalon Ocean Avenue | 1200 Ocean Ave, San Francisco, CA
*************8the info is
$2,262+ Studio$2,605+ 1 bd$3,235+ 2 bds
no price
*************7the address is
One Henry Adams | 1 Henry Adams St, San Francisco, CA
*************8the info is
$2,292+ Studio$2,821+ 1 bd$3,598+ 2 bds$5,503+ 3 bds
no price
*************7the address is
AVA Nob Hill | 965 Sutter St, San Francisco, CA
*************8the info is
$2,039+ Studio$2,380+ 1 bd$3,463+ 2 bds
no price

C:\Users\megan.moroney\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [ ]:
item_df.to_excel('housing.xlsx', sheet_name= 'housing')